@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:wght@600&display=swap");

 * {
  margin: 0;
  padding: 0;
} 

body {
  background-size: contan;
  background-color: rgb(17, 17, 17);
  /* background-image: url("Stocks/BG3.jpg"); */ 
}   

.Container h1 {
    margin-top: 3%;
    color: #ff4d00;
    font-family: "Bangers", sans-serif, system-ui;
    text-align: center;
}

hr{
    margin: 3vh;
}

.Flex-Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Flex-item{
    padding: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 30px;
    color: white;
    font-family: "poppins";
    flex-basis: 40%;
    text-align: center;
    background-color: #3e3e3e;
    transition: all 0.3s ease-out;
}

.Flex-item:hover{

    scale: 105%;
    background-color: #ff4d00;

}

.Flex-Container .Flex-item img{
    height: 5rem;
    width: 5rem;
    margin: 10px;
}

.Flex-Container .Flex-item h2{
    margin: 10px;
}



@media only screen and (max-width: 850px) {

    .Flex-Container{
        display: flex;
        flex-direction: column;
    
    }

    .Flex-Container .Flex-item {
        height: 5rem;
        width: 70vw;
    }

    .Flex-Container .Flex-item img{
        margin: 20px;
    }

    .Flex-Container .Flex-item h2{
        margin: 10px;
    }

  }