@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:wght@600&display=swap");

 * {
  margin: 0;
  padding: 0;
} 

body {
  background-size: contan;
  background-color: rgb(17, 17, 17);
  /* background-image: url("Stocks/BG3.jpg"); */ 
}   

.Container h1 {
    margin-top: 3%;
    color: white;
    font-family: "Bangers", sans-serif, system-ui;
    text-align: center;
}

hr{
    margin: 3vh;
}

.Flex-Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Flex-item{
    padding: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 30px;
    color: white;
    font-family: "poppins";
    flex-basis: 40%;
    text-align: center;
    background-color: #3e3e3e;
}

.Flex-Container .Flex-item img{
    height: 5rem;
    width: 5rem;
}

.Flex-item button{
    width: 10vw;

}


@media only screen and (max-width: 850px) {

    .Flex-Container{
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        margin-right: 30px;
    
    }


  }